@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

:root {
    --cyan: hsl(185, 75%, 39%);
    --dblue: hsl(229, 23%, 23%);
    --grayb: hsl(227, 10%, 46%);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 48vw bottom 40vh, left 45vw top 44vh;
    font-size: 18px;
    
}

.card {
    background-color: #fff;
    width: 31vw;
    border-radius: 10px;
    text-align: center;
}


.pattern-img img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    

}

.profile-img img {
    border-radius: 50%;
    margin-top: -3.6rem;
    border: 5px solid #fff;
    
}

.content h1 {
    font-size: 18px;
    margin-top: 1rem;
    color: var(--dblue);
    font-weight: bold;
}

.content span {
    color: var(--grayb);
    margin-left: 5px;
    font-weight: 200;
}

.content p {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    color: var(--grayb);
    font-size: 1rem;
}

.stats {
    
    margin-top: 1.2rem;
    border-top: 1px solid rgba(128, 128, 128, 0.26) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.item {
    font-size: 14px;
}

.item h2 {
    font-weight: bold;
    color: var(--dblue);
}

.item p {
    margin-top: 5px;
    color: var(--grayb);

}

@media (min-width: 360px) and (max-width: 414px) {
    .card {
        width: 75vw;
    }

}